* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: orangered;
}

.interactable {
    height: 100%;
    position: relative;
}

.fugitive {
    position: absolute;

    padding: 1rem;
}