* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.interactable {
    width: 500px;
    height: 500px;
    position: relative;
    
    background-color: orangered;
}

.fugitive {
    position: absolute;

    padding: 1rem;
}